* {
    font-family: 'Shantell Sans', cursive;
    margin: 0;
}

body {
    background-color: navy;
    color: orange;
}

main {
    background-color: blue;
    width: 425px;
    margin: 0 auto;
    height: 100vh;
    font-size: 1.5rem;
}

#par-ou-impar {
    text-align: center;
}

#escolha-numeros {
    display: none;
    text-align: center;
}

.botao {
    border: 2px solid orange;
    background-color: transparent;
    font-size: 2rem;
    color: orange;
    padding: 0.625rem;
    cursor: pointer;
}

.botao-pi {
    width: 150px;
}

.botao-num {
    width: 60px;
}

#botao-jogar {
    background-color: navy; /* cor do fundo */
    color: orange; /* cor do texto */
    border: 1px solid orange;
}

.caixa-jogar {
    margin-top: 2rem;
    text-align: center;
}

#resultado {
    display: none;
    margin: 2rem 0;
    border: 1px dashed red;
}

.desabilitado {
    color: gray;
    border: 2px solid gray;
    cursor: default;
}

.selecionado {
    color: red;
    border: 2px solid red;
    background-color: gold;
}